<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
    
    <test name="Facebook Login Test">
        <classes>
            <class name="TestNGExtent.LoginTest" />
        </classes>
    </test> <!-- Facebook Login Test -->

    <test name="Facebook Registration Test">
        <classes>
            <class name="TestNGExtent.RegistrationTest" />
        </classes>
    </test> <!-- Facebook Registration Test -->

</suite> <!-- Suite -->
